[color]
  ui = true

[color "branch"]
  local = green dim
  current = yellow bold

[color "status"]
  added = green bold
  changed = cyan dim
  untracked = magenta

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[user]
  name = doglasbatista
  email = doglasbatista@gmail.com

[alias]
  a = add
  aa = add .
  s = status
  r = reset HEAD
  c = commit
  b = branch
  ci = commit
  co = checkout
  d = diff
  p = push
  fuckoff = push --force-with-lease
  dev = checkout develop
  master = checkout master
  cont = rebase --continue
  abort = rebase --abort
  skip = rebase -skip-
  l = log --all --graph --decorate --oneline --simplify-by-decoration
  fuck = clean -fdx

[pull]
  rebase = true

[push]
  default = current
  autoSetupRemote = true

[core]
  editor = nvim

[init]
  defaultBranch = main
